.flexbox .box {
  font-size: 5rem;
  color: white;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box; 
  background-color: black; 
  width: 33.333333%;
}

.flexbox .box-1 {
  background-color: red; 
}

.flexbox .box-2 {
  background-color: orange; 
}

.flexbox .box-3 {
  background-color: rgb(214, 201, 19); 
}

.flexbox .box-4 {
  background-color: green; 
}

.flexbox .box-5 {
  background-color: blue; 
}

.flexbox .box-6 {
  background-color: purple; 
}

.flexbox .box-7 {
  background-color: rgb(156, 100, 197);
}

.flexbox .box-8 {
  background-color: violet; 
}

.flexbox .box-9 {
  background-color: cyan; 
}

.flexbox .box-container {
  flex-direction: row-reverse;
  flex-wrap: wrap;
  display: flex;
  border: .5rem solid black; 
  background-color: black;
  height: 80vh;
}