.flexbox .box-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  min-height: 100vh;
}

.flexbox .box {
  display: flex;
  font-size: 5rem;
  color: white;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box; 
  width: 40%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* height: 40vh; */
}

.flexbox .box:nth-child(odd) {
  margin-right: 2rem;
}

.flexbox .box-1 {
  background-color: red; 
}

.flexbox .box-2 {
  background-color: orange; 
}

.flexbox .box-3 {
  background-color: rgb(214, 201, 19); 
}

.flexbox .box-4 {
  background-color: green; 
}

.flexbox .box-5 {
  background-color: blue; 
}

.flexbox .box-6 {
  background-color: purple; 
}

.flexbox .box-7 {
  background-color: rgb(156, 100, 197);
}

.flexbox .box-8 {
  background-color: violet; 
}

.flexbox .box-9 {
  background-color: cyan; 
}
